h1 {
    background: none repeat scroll 0 0 ;
    border-bottom: 5px solid #507EC0;
    border-top: 5px solid #507EC0;
    padding-left: 10px;
    padding-right: 10px:
}

body {
    font-family: 'Armata', sans-serif;
    margin: 0px;
}

.name {
    margin: 10px;
}

.error-container {
    display: block;
    margin: 20px;
    border: 1px solid #FFB3B3;
    font-family: monospace;
    overflow: scroll;
}

div.passed span.error-container {
    display: none;
}

.result {
    display: none;
}

.time {

}

.done {
    font-size: small;
    text-align: right;
    border-top: 3px solid  #507EC0;
}

.scratch {
    margin: 0px 10px;
}

span.testfile {
    display: block; text-align: right;
    font-size: small;
}

div.failed {
    border: 3px solid #FFB3B3;
    border-bottom-width: 15px;
    margin: 5px;
}
div.passed {
    border: 3px solid #AEF5AF;
    border-bottom-width: 15px;
    margin: 5px;
}


